NH-vs-NW-sig-pvalues.csv
NH-vs-SH-Density-Plots.RData
NW-vs-NH-Density-Plots.RData
NW-vs-NH-cohort1.csv
NW-vs-SW-Density-Plots.RData
RData
SW-vs-SH-Density-Plots-sig-pvalues.RData
SW-vs-SH-Density-Plots.RData
data-in-easy-to-analyze-form.csv
intensity_data_transposed_for_easy_analysis.csv
nh-vs-sh-sig-density-pvalues.csv
nh_data.csv
nh_vs_sh_data.csv
nw-only.csv
nw-vs-sw-data.csv
nw-vs-sw-sig-pvalues.csv
nw_data.csv
nw_vs_nh_data.csv
nw_vs_sh_data.csv
nw_vs_sw_data.csv
sh-data.csv
sh-only-data.csv
sw-only-data.csv
sw-vs-sh-data.csv
sw_data.csv
sw_vs_sh_data.csv
.DS_Store
MECP2 Raw Histogram Data.xlsx
new_cohort.csv
processed_data_PNN_031022.csv
Relabled-cohorts 2.csv
cohort-labels 2.txt
cohort1-only 2.csv
cohort2-only 2.csv
cohort3-only 2.csv
condition1 2.csv
condition2 2.csv
condition3 2.csv
condition4 2.csv
heat_conds_mann
heat_conds_mann.zip
left-hemisphere 2.csv
mecp2_raw_histogram_data.txt
right-hemisphere 2.csv
KK, LD - 6WO PNN Histogram Data 2.xlsx
MECP2 Raw Histogram Data (1).xlsx
Notes - 6WO Laterality Data 2.docx
